<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Новый Пост</title>
    </head>
    <body>
        <h3>Добавить пост</h3>
        <form method="POST">
            <label>Имя</label><br>
            <input type="text" name="name" /><br><br>
            <label>Email</label><br>
            <input type="text" name="email" /><br><br>
            <label>Текст</label><br>
            <input type="number" name="text" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
