<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Редактировать пост</title>
    </head>
    <body>
        <h3>Редактировать пост <b>#{{.Id}}</b></h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>Имя</label><br>
            <input type="text" name="name" value="{{.Name}}" /><br><br>
            <label>Company</label><br>
            <input type="text" name="email" value="{{.Email}}" /><br><br>
            <label>Текст</label><br>
            <input type="number" name="text" value="{{.Text}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
